body{
	background-color:rgb(0,255,255);
	background-image:url(pattern4.gif);
}

.container{
	margin-top:8%;
	background-color:orange;
};

.inner{
	overflow:hidden;
}
.inner img{
transition: all 1.5s ease;
width:5616;
height:3744
}
.inner:hover img{
	transform:scale(1.5);
}
.card-body:hover{
		-webkit-box-shadow:-1px 9px 40px -12px rgba(0.5,0,0,0.75);
	-moz-box-shadow:-1px 9px 40px -12px rgba(0.5,0,0,0.75);
	box-shadow:-1px 9px 40px -12px rgba(0.5,0,0,0.75);
	}
	a:hover{
		color:#255784;
	background: #2196f3;
	box-shadow:0 0 10px #2196f3,0 0 10px #2196f3,0 0 80px #2196f3;
}

	}
